html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;display:none;margin:1em 0;padding:0}input,select{vertical-align:middle}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:before{content:"\201E"}q:after{content:"\201C"}.unsichtbar,.nurprint{position:absolute;width:1px;top:-1000px;left:-1000px}.group:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}* html .group{height:1%}:first-child+html .group{min-height:1px}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}html{overflow-y:scroll;-webkit-font-smoothing:antialiased}body{background:#fff;color:#444;font:100%/1.5 Constantia,Palatino,Georgia,Times,Serif;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto}h1,h2,h3,h4,h5,h6{text-rendering:optimizeLegibility}ul{list-style-type:circle}ol{list-style-type:decimal}#wrap{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;width:80%;margin:5% auto}


p, ul, ol {margin: 0 0 1.5em;}
body {font-family: Arial,sans-serif;color:#000; font-size: 0.9em; line-height:1.5;padding-bottom:2em;}
h1 {font-size: 1.75em;margin-top:1.5em;margin-bottom:.2em;font-weight:bold;}
h2 {font-size: 140%;margin-top: 1.8em;margin-bottom:.5em;}
#wrap {width: 960px; margin: 1em auto;}

table {width: 100%;}

tr {
	border-bottom: 1px solid #ddd;
}

td {
	vertical-align: top;
	padding: .8em 0;
}

td:nth-of-type(1) {
	width:19em;
	overflow:auto;
}

td:nth-of-type(2) div {
	width:32%;
	float:left;
}

.Hilfetext {color:grey; font-size: 80%; width:92%} 

textarea {
	width: 30em;
	height: 15em;
	border: 1px solid #ddd;
	padding: .4em .2em;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
}

textarea:focus {
	border-color: #444;
}

input[type="text"]{
	width: 30em;
	border: 1px solid #ddd;
	padding: .4em .2em;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
}

input[type="text"]:focus {
	border-color: #444;
}

input[type="radio"] {
	position: relative;
	top: -2.5px;
}

input[type="checkbox"]{
	position: relative;
	top: -1px;
}

input#Zustimmung {
	float:right;
	margin-right: 1em;
	margin-top: 5px;
}

#buttons {
	margin-left: 19em;
	padding-top: 2em;
}

.Schlagwort input {
	margin: .3em 0;
	}
	
header {border-bottom: 1px solid black;padding-bottom:.3em;}

#pflicht {float:right;margin-top:.5em;font-weight:bold;}