/* Stylesheet ab 64em (ca. 1024px) Breite */

/* #wrap und header div müssen gleiche Breite usw. haben! */
#wrap {
	margin: 0 auto;
	max-width: 110em;
	width: 96%;
	position: relative;
}

.debug #wrap {
	outline: 1px solid #ccc;
}

header {
	padding: 0 0;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 1em;
	background: url(../assets/headerBalken.gif) repeat-x 0 50%;
	width: 100%;
	text-transform: uppercase;
}

header div {
	margin: 0 auto;
	max-width: 110em;
	width: 96%;
}

.debug header div {
	outline: 1px solid orange;
}

/* #logo und #filter müssen gleiche Breite usw. haben! */

#logo {
	width: 17%;
	float: left;
	text-align: left;
}

#filter {
	width: 16%;
	max-width: 16%;
	position: relative;
	float: left;
	margin-top: 3.1em;
	background: transparent;
	padding-left: 0;
	display: block;
}

#filter #hauptfilter {
	width: 100%;
}

#filter a {color: #444;}

#filter ul ul li a {
	color: #979797
}


#filter .ausgewaehlt a {
	color: #444;
}


#filter .haupt:before {
	content: url(../assets/Pfeilunten.gif);}

#filter .haupt.offen:before {
	content: url(../assets/Pfeiloben.gif)
}

#filterZurueckSetzen:before {
	content: url(../assets/Schliessen.gif);
	left:-1px;
	}


/* nav und #content müssen gleiche Breite usw. haben! */

nav {
	position: relative;
	width: 81%;
	max-width: 100%;
	float: right;
	margin-top: 1.85em;
	margin-left: -10%;
	padding-top: .55em;
	padding-left: 0;
	padding-top: 0;
	background: transparent;
}

/* Elemente, die auf Desktop unsichtbar sein sollen */
.nurSmartphone {
	display: none;
}

nav #hauptmenu {
	margin: 0;
}

nav li {
	width: 23.7%;
	margin-right: .9em;
	float: left;
	position: relative;
}

nav a {
	color:#444;
}

nav #suche {
	background: url(../assets/Lupe.gif) no-repeat 3.8em 50%
}

.debug nav {
	outline: 1px solid orange;
}

.debug nav li {
	outline: 1px solid red;
}

nav #suchbereich {
	text-transform: none;
	background: #fff;
	color: #444;
	top: 1.3em;
	padding-top: 4em;
}

#sprachwahl {
	right: 1.5%;
	top:0;
}

#sprachwahl li {
	float: right;
	width: 2.2em;
	text-align: right;
	margin-right: 0;
	border-bottom: none;
}

#sprachwahl li a {
	border-bottom: none;
	color: #ccc
}

#sprachwahl .current a {
	font-weight: 600;
	font-style: normal;
	color: #444;
}

#sprachwahl li:first-child a:before {
	content: "/";
	margin: 0 .4em
}

.debug a {
	outline: 1px solid blue
}

footer div {
	width: 81%;
	float: right;
	border-top: 1px solid #ddd;
}


#content {
	width: 81%;
	float: right;
}

.debug #content {
	outline: 1px solid green;
}

.bilderGalerie li {
	width: 23.7%;
	margin-right: .9em;
	text-align: left;
	float:left;
}

article h1.projekttitel {
	text-align: left;
}

/* auf der Projektseite */

/* auf der Projekt-Seite geht der Content über die gesamte Breite! */

.projekt #content {
	width: 98.2%;
	float: none;
	position: relative;
}

.projektbilder {
	width: 60.2%;
	float: right;
}

.projektbilder .hochformat {
	width: 49%; 
	float:left;
	margin-right: 1%;
}

.debug .projektbilder {
	outline: 1px solid blue;
}

.projekt article {
	width: 35%;
	max-width: 42em;
	margin-top: 5.4em;
}

.debug article {
	outline: 1px solid blue;
}

.einspaltig {
	width: 47.5%;
	float: left;
}

.ausstellung #content {
	width: 81%;
	float: right;
	position: relative;
}

.information #content {
	width: 81%;
	position: relative;}
	
.information aside {
	margin-left: 50%;
	width: 48%;
	margin-bottom: 1.8em;
	margin-top: 1.8em;
	}

.ausstellungsbild {
	width:47.5%;
	height: auto;
	margin-bottom: 1.8em;
}

.lageplan {
	width:47.5%;
	height: auto;
	margin-bottom: 1.8em;
	margin-top: 1em;
}

.informationsbild {
	width:47.5%;
	height: auto;
	margin-bottom: 1.8em;
	margin-top: 2em;
	float:left;
	}


#zurueck {
	width: 15%;
	max-width: 15%;
	position: fixed;
	float: left;
	margin-top: 7em;
	margin-left: 1em;
	background: transparent;
	padding-left: 0;
	display: block;

	

	/*position: fixed;
	top: 6.7em;
	left: 3em;
	border-bottom: none;
	z-index: 100;
	*/
}

.projekt #zurueck {
	margin-top: 0em;
	z-index: 100;
}


.ausstellung aside {
	width: 50%;
	float: right;
	margin-top: 17.7em;
}

.ausstellung article {
	width: 100%;
	max-width: 100%;
	position: static;

}