/* Stylesheet ab 25em (ca. 400px) Breite */
.projekttext {
  -webkit-column-width: 16em;
  -moz-column-width: 16em;
  -ms-column-width: 16em;
  -o-column-width: 16em;
  column-width: 16em;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  -ms-column-gap: 1em;
  -o-column-gap: 1em;
  column-gap: 1em;
  -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.1);
  -moz-column-rule: 1px solid rgba(0, 0, 0, 0.1);
  -ms-column-rule: 1px solid rgba(0, 0, 0, 0.1);
  -o-column-rule: 1px solid rgba(0, 0, 0, 0.1);
  column-rule: 1px solid rgba(0, 0, 0, 0.1); }
