/* Stylesheet ab 64em (ca. 1024px) Breite */

/* #wrap und header div müssen gleiche Breite usw. haben! */

#wrap {
	margin: 0 auto;
	max-width: 110em;
	width: 96%;
	position: relative;
}

.debug #wrap {
	outline: 1px solid #ccc;
}

header div {
	margin: 0 auto;
	max-width: 110em;
	width: 96%;
}

.debug header div {
	outline: 1px solid orange;
}

/* #logo und #filter müssen gleiche Breite usw. haben! */

#logo {
	width: 15%;
	float: left;
}

#filter {
	width: 15%;
	float: left;
	margin-top: 7em;
}

/* nav und #content müssen gleiche Breite usw. haben! */

nav {
	width: 81%;
	float: right;
	margin-top: 1.3em;
}

nav li {
	width: 23.7%;
	margin-right: .9em;
	float: left;
}

.debug nav {
	outline: 1px solid orange;
}

.debug nav li {
	outline: 1px solid red;
}

#content {
	width: 81%;
	float: right;
}

.debug #content {
	outline: 1px solid green;
}

.bilderGalerie li {
	width: 23.7%;
	margin-right: .9em;
}

article h1.projekttitel {
	text-align: left;
}

/* auf der Projektseite */

/* auf der Projekt-Seite geht der Content über die gesamte Breite! */

.projekt #content {
	width: 98.2%;
	float: none;
	position: relative;
}

.projektbilder {
	width: 60.2%;
	float: right;
}

.projektbilder .hochformat {
	width: 49%; 
	float:left;
	margin-right: 1%;
}

.debug .projektbilder {
	outline: 1px solid blue;
}

article {
	width: 36.5%;
	max-width: 42em;
	position: fixed;
	margin-top: 5.4em;
}

article #zurueck {
	position: relative;
	top: -5.5em;
	border-bottom: none;
}

article .mehrspaltig {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	    -ms-column-count: 2;
	     -o-column-count: 2;
	        column-count: 2;
	        
	-webkit-column-gap: 1em;
	   -moz-column-gap: 1em;
	    -ms-column-gap: 1em;
	     -o-column-gap: 1em;
	        column-gap: 1em;
}

.debug article {
	outline: 1px solid blue;
}