$myFont: 100%/1.5 Constantia,Palatino,Georgia,Times,Serif;

html {
    overflow-y:scroll;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    color: #444;
    font: $myFont;
    @include Silbentrennung;
}

h1, h2, h3, h4, h5, h6 { 
	text-rendering: optimizeLegibility; 
}

h1 {
	font-family: Impact,Tahoma,Arial,Sans-Serif;
	font-size: 250%;
	padding: .4em 0 .2em 0;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

ul {
    list-style-type: circle;
}

ol {list-style-type: decimal;}

#wrap {
	@include Box;
	width:95%;
	margin: 0 auto;
	position: relative;
}

#content {
	@include Clearfix;
}

footer {
	clear:both;
	margin: 3em 0;
	padding-top: .5em;
	border-top: 1px solid #ccc;
}

header {
	a {
		border-bottom: none;
	}
	
	ul {
		width: 6em;
		list-style-type: none;
		position: absolute;
		top: 0;
		right: 1em;
		overflow: auto;
	}
	
	li {
		float:right;
		padding: 0 .4em;
	}
	
	.current:before {
		content: "✓";
		padding-right: .4em;
	}
}

nav {
	width: 15em;
	
	a {
		border-bottom: none;
	}
	
	.current {
		font-weight: bold;
	}
	
	ul {
		list-style-type: none;
		//margin-bottom: 1em;
	}
	
	ul ul {
		border-style: solid;
		border-color: #ddd;
		border-width: 0 0 0 1px;
		margin-bottom: 0;
		margin-left: .5em;
	}
	
	ul ul li {
		padding-left: .3em;
	}
	
	.haupt:after {
		content: "▼";
		font-size: 50%;
		position: relative;
		top: 0;
		left: 5px;
		color: #9a9a9a;
	}
	
	.abstand {
		margin-top: .7em;
	}
	
	.ausgewaehlt a:after {
		content: "✓";
		padding-left: .4em;
	}
	
	li a {
		display: block;
		//padding: .2em;
	}
	
	input {
		width: 100%;
		@include Abgerundet(8px);
		border: 1px solid #ccc;
	}
	
	#filterbutton {
		cursor: pointer;
	}
	
	#filter {
		margin: -2.8em 0 1.5em 23px;
		font-size: 85%;
	}
}

.bilderGalerie {
	list-style-type: none;
	
	figure {
		width:100%;
		margin: 0 1em 1em 0;
		float:left;
		background: rgba(0,0,0,.1);
		border: 1px solid rgba(0,0,0,.1);
		@include Transition($time: .1s);
		box-shadow: 0 0 2px 2px rgba(0,0,0,.06);
	}
	
	figure:hover,
	figure:active {
		@include Skalieren(1.02);
		
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	figcaption {
		display: block;
		text-align: center;
		line-height: 1;
		font-size: 80%;
		position: relative;
		top: -.3em;
		padding: .2em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#abdecker {
	font-family: Impact,Tahoma,Arial,Sans-Serif;
	text-transform: uppercase;
	background: rgba(0,0,0,.8);
	color: #fff;
	width: 94%;
	position: fixed;
	left:1em;
	top: .5em;
	bottom: 0;
	@include Box;
	padding: .2em 0;
	@include Abgerundet(3px);
	cursor: pointer;
	@include Transition($time: .5s);
}

#abdecker.weg {
	@include Verschieben_Waagrecht(-130%);
}

#abdecker p {
	width: 100%;
	font-size: 400%;
	@include Box;
	padding: 0 0 0 .1em;
	line-height: 1;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	@include OutlineText($Rahmen: #fff);
}